<p-toast position="top-right" key="bc"> </p-toast>
<form class="login-form" (ngSubmit)="onLogin()" [formGroup]="formLogin">
  <h2>Login</h2>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" formControlName="email" name="email" required />
    <div
      class="danger"
      *ngIf="
        formLogin.controls.email.invalid &&
        (formLogin.controls.email.touched || formLogin.controls.email.dirty)
      "
    >
      Debe ingresar un email correcto
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      name="password"
      required
    />
    <div
      class="danger"
      *ngIf="
        formLogin.controls.password.invalid &&
        (formLogin.controls.password.touched ||
          formLogin.controls.password.dirty)
      "
    >
      La contraseña debe de tener 6 digitos minimo
    </div>
  </div>
  <div class="center">
    <button [disabled]="isLoading || !formLogin.valid" type="submit">
      Login
    </button>
  </div>
</form>
